In [1]:
! pip install pandas
! pip install numpy

Requirement already satisfied: pandas in c:\users\malik\desktop\let-us-python-tut\.venv\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\malik\desktop\let-us-python-tut\.venv\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\malik\desktop\let-us-python-tut\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\malik\desktop\let-us-python-tut\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\malik\desktop\let-us-python-tut\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\malik\desktop\let-us-python-tut\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: numpy in c:\users\malik\desktop\let-us-python-tut\.venv\lib\site-packages (2.3.1)

In [2]:
import numpy as np
import pandas as pd

In [3]:
ser1=pd.Series()
print(ser1,end="\n\n")
data=np.array(['a','e','i','o','u'])
ser2=pd.Series(data)
print(ser2)

Series([], dtype: object)

0    a
1    e
2    i
3    o
4    u
dtype: object

In [7]:
lst=['sam','Prash','Raj','Kulki','Adi']
ser1=pd.Series(lst)
print(ser1,end="\n\n")
tpl=('sam','Prash','Raj','Kulki','Adi')
ser2=pd.Series(tpl)
print(ser2,end="\n\n")
dt={'sam':23,'Prash':25,'Raj':90,'Kulki':66,'Adi':34}
ser3=pd.Series(dt)
print(ser3)

0      sam
1    Prash
2      Raj
3    Kulki
4      Adi
dtype: object

0      sam
1    Prash
2      Raj
3    Kulki
4      Adi
dtype: object

sam      23
Prash    25
Raj      90
Kulki    66
Adi      34
dtype: int64

In [9]:
# Same data type
data1=[10,20,30,40]
data2=[10,'Sakib','Malik',8954664647]
ser1=pd.Series(data1)
ser2=pd.Series(data2)
print(ser1,end="\n\n")
print(ser2,end="\n\n")

0    10
1    20
2    30
3    40
dtype: int64

0            10
1         Sakib
2         Malik
3    8954664647
dtype: object

In [21]:
# Properties
data=np.array(['a','e','i','o','u'])
ser=pd.Series(data)
print(ser.shape)
print(ser.size)
print(ser.ndim)
print(data.ndim)
print(data.dtype)
print(ser.dtype)
# print(data.index)
print(ser.index)
print(ser.values)
print(ser.value_counts())
print(ser.empty)

(5,)
5
1
1
<U1
object
RangeIndex(start=0, stop=5, step=1)
['a' 'e' 'i' 'o' 'u']
a    1
e    1
i    1
o    1
u    1
Name: count, dtype: int64
False

In [32]:
# Accessing series data
data=[100,200,300,400]
ndx=['Apple','Kiwi','Orange','Graphes']
ser=pd.Series(data,ndx)
print(ser,end="\n\n")
print(ser.Apple,end="\n\n")
print(ser.at['Apple'],end="\n\n")
print(ser.iat[0],end="\n\n")
print(ser.loc['Apple':'Orange'],end="\n\n")
print(ser.iloc[1:],end="\n\n")

Apple      100
Kiwi       200
Orange     300
Graphes    400
dtype: int64

100

100

100

Apple     100
Kiwi      200
Orange    300
dtype: int64

Kiwi       200
Orange     300
Graphes    400
dtype: int64

In [58]:
# Series Methods
data=[100,200,300,400,500,400,800,100,300,200,100]
ser=pd.Series(data)
ser.head()
ser.tail()
ser.describe()
ser.count()
ser.unique()
ser.nunique()
len(ser.unique())
ser.value_counts()
ser.mean(), ser.median(),ser.mode()
ser.std(), ser.var()
ser.min(),ser.max()
ser.sum(),ser.cumsum()
ser.prod(),ser.cumprod()
ser.quantile()

np.float64(300.0)